.form-cards
  = simple_form_for Card.new, url: deck_cards_path(deck_id: @deck.id) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    .cards-input
      = f.input :question

    .cards-input
      = f.input :description

    .form-cards-actions
      = f.button :submit, :class => "cards-button"
