<div class="log-container">
  <div class="log-content">
    <%= link_to image_tag("cerrar.png"), root_path, class: "close" %>
    <span class="log-title">
      <h3>FlashCards</h3>
      <%= image_tag 'juego-de-cartas-purple.png', alt: 'logo', height: '40', width: '40', class: '' %>
    </span>
    <div class="log-form">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: false,
                      input_html: { autocomplete: "email", :class => 'log-form-input' },
                      label: false,
                      placeholder: "Email" %>
          <%= f.input :password,
                      required: true,
                      input_html: { autocomplete: "current-password", :class => 'log-form-input' }, 
                      label: false,
                      placeholder: "Password" %>
          <%# <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Log in", :class => 'log-button' %>
        </div>
      <% end %> 
      <%= render "devise/shared/links" %>
      <%# <%= image_tag 'Group 4.png' %>
    </div>
  </div>
</div>
