.form-decks
  = simple_form_for(@deck) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    .decks-input
      %p Nombre de la baraja:
      = f.input :name, label: false

    .decks-input
      %p Description breve:
      = f.input :description, label: false

    .decks-input
      %p Categoria: 
      = f.association :category, label: false

    .decks-input
      %p Color de fuente:
      = f.color_field :font_color, label: false
    
    .decks-input
      %p Color de baraja:
      = f.color_field :deck_color, label: false

    .form-decks-actions
      = f.button :submit, :class => "decks-button"
