.views
  .view-game

    .barra-progres

    .game-header{:style => "background: #{@deck.deck_color};" }
      %h2{:style => "color: #{@deck.font_color};"}= @deck.name


    = content_tag :div, class: "game-content", data: {cards: @cards} do
      .content
        .front.box{ id: "game-front" }
          %p Question
          %h2{ id: "game-question" }
          %p.game-cards
        .back.box{ id: "game-back" }
          %p Answer
          %h2{ id: "game-answer" }
          %p.game-cards

    .game-footer 
      = button_tag "Flip Card", class:"clase", id: "flip-card-button"

      .footer-points{id: "set-score"}
        %p ¿Como te fue?

        .cont-point
          %p Lo sabia
          %ul.cont-points
            %li.points{value: "1"} 1
            %li.points{value: "2"} 2
            %li.points{value: "3"} 3
            %li.points{value: "4"} 4
            %li.points{value: "5"} 5
          %p No lo sabia
        
        .next-card
          = image_tag 'flechas-a-la-derecha.png', alt: '', height: '', width: '', class: ''

= javascript_pack_tag 'game'
