.views
  .views-title
    %h3 Tus Barajas
    
  .views-cont
    - @decks.each do |deck|
      .view-pre-card{ :style => "background: #{deck.deck_color};" }
        %h3{:style => "color: #{deck.font_color};"}= deck.name
        %p{:style => "color: #{deck.font_color};"}= deck.description
        .pre-card-btn
          = link_to 'Details', deck
          = link_to 'Delete', deck, :method => :delete, :data => { :confirm => 'All cards will be removed, are you sure?' }
    .cont-maker
      = link_to 'New Deck', new_deck_path