.views

  .views-title-show{:style => "background: #{@deck.deck_color};" }

    .image-title
    
      = link_to image_tag("icons8-left.png"), decks_path 
      %h1{:style => "color: #{@deck.font_color};"}= @deck.name

    %p{:style => "color: #{@deck.font_color};"}= @deck.description

  .cont-view-deck-options

    .deck-options

      .cont-deck

        = image_tag "juego-de-cartas-black.png"
        %p= "#{@card.length} Cards"

      .cont-deck

        = image_tag '', alt: '', height: '', width: '', class: ''
        %p Qualification

      .cont-deck.profile

        - if @deck.owner.account.avatar.blank?
          = image_tag url_for("https://robohash.org/#{current_user.email}")
        - else
          = image_tag url_for(@deck.owner.account.avatar)

        %p= @deck.owner.account.username

    .deck-options

      .cont-deck.rigth

        - if @deck.favorites.blank?
          = link_to "Add to favorites", favorites_path(deck_id: @deck.id), method: :post
          = image_tag 'Star-sinfav.png', alt: '', height: '', width: '', class: ''
        - else 
          = link_to "Remove to favorites", favorite_path(@deck.id), method: :delete
          = image_tag 'Star-confav.png', alt: '', height: '', width: '', class: ''
      
      .cont-deck.rigth

        %p Your score
        = image_tag '', alt: '', height: '', width: '', class: ''

      .cont-deck.rigth

        %p Successful cards
        = image_tag '', alt: '', height: '', width: '', class: ''

  .cont-view-deck-btn

    - if @card.nil?
      = link_to 'Create Card', new_deck_card_path(@deck)
    - else 
      -# = link_to 'Start', deck_card_path(deck_code: @deck.code, id: @card.id)
      = link_to 'Start', deck_game_path(deck_code: @deck.code)
      = link_to 'Cards', deck_cards_path(deck_code: @deck.code)
      
    = link_to 'Edit', edit_deck_path(@deck)
